@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root{
	--color-primary: #444CF7;
	--color-title: #000;
	--align-title: left;
	--padding-container: 100px 0px;
	--width-container: 90%;
	--max-width-container: 1200px;
	--color-btn:#444CF7;
	--text-btn: #fff;
	--padding-btn: 15px 30px;
}
body {
	font-family: 'Inter', sans-serif;
	background-color: #e5e5f7;
	opacity: 1;
	background-image:  radial-gradient(#444cf7 2px, transparent 2px), radial-gradient(#444cf7 2px, #7f8fa6 2px);
	background-size: 120px 120px;
	background-position: 0 0,80px 80px;
	overflow-y:none;
}

.container{
	width: var(--width-container);
	max-width: var(--max-width-container);
	padding: var(--padding-container);
	margin:0 auto;
	overflow: hidden;
}
header {
	height: 100vh;
	min-height: 500px;
	position: relative;
	--padding-container:0;
}
header div{
	display: grid;
	height: 100%;
	grid-template-columns: 800fr 450fr;
	place-items:center;
	gap:20px;
}
img {
	height: 400px;
	position:relative;
	left: -50px

}
header div h1 {
	position: relative;
	top: 75px;
	left: -75px;
}
header div p {
	position: relative;
	top: -100px;
	left:-266px;
}
.hero__title {
	font-size: 2rem;
}
.hero__copy {
	font-size: 1.2rem;
}
header div nav ul li a {
	text-decoration: none;
	display: inline-block;
	background: var(--color-btn);
	color:#fff;
	padding: var(--padding-btn);
	text-align: center;
}
li {
	list-style: none;
	position: relative;
	top: -275px;
	left: -100px;
	display: inline-block;
}
.tremendo{
	text-decoration: none;
	display: inline-block;
	position: relative;
	background: var(--color-btn);
	color:#fff;
	padding: var(--padding-btn);
	text-align: center;
	top: -225px;
	left: 75px;
}


/*--------------------------------------------------Responsive-----------------------------------------------*/

@media only screen and (max-width: 800px) {
	.hero__title {
		position: absolute;
		font-size: 1rem;
		left: 70px;
		margin: auto;
	}
	.hero__copy {
		font-size: .8rem;
		position: absolute;
		left: 150px;
		top: 370px;

	}
	img {
		position: absolute;
		width: 200px;
		left: 0;
		right: 0;
		margin: auto;
		top: 30px

	}
	div {
		display: flex;
		flex-direction: column;
	}
	
	header {
		display: flex;
		flex-direction: column;
	}

	li {
		position: relative;
		display: block;
		margin: 5px;
		width: 100%;
		top: 180px;
		left:-20px;


	}

	.tremendo {
		width: 300px;
		top: -25px;
		left:70px;


	}

	header div nav ul li a {
	text-decoration: none;
	display: inline-block;
	background: var(--color-btn);
	color:#fff;
	padding: 10px 25px;
	text-align: center;
	width: 300px
		
}

